.button {
    @include flex-center(true);

    height: var(--button-height);
    padding-inline: 35px;
    font-size: 20px;
    background-color: var(--color-dark);
    color: var(--color-light);
    border: var(--border);
    border-radius: var(--border-radius);

    @include hover {
        color: var(--color-dark);
        background-color: var(--color-accent);
    }

    &--transparent {
        background-color: transparent;
        color: var(--color-dark);
    }
}