.mobile-overlay {
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
    padding: 16px 20px;


    &:modal {
        max-width: 100%;
        max-height: 100%;
    }

    &__close-button-wrapper {
        display: flex;
        justify-content: end;
    }

    &__list {
        @include flex-center;

        flex-direction: column;
        font-size: 30px;
        row-gap: 30px;
        padding-block: 20% 50px;
    }

    &__body {
        display: flex;
        flex-direction: column;
    }

    &__button {
        align-self: center;
        font-size: 25px;
    }
}