@import 
    'normalize', 
    'fonts', 
    'mixins', 
    'media', 
    'variables', 
    'utils', 
    'globals';

    @import 'blocks/button',
            'blocks/grid',
            'blocks/burger-button',
            'blocks/cross-button',
            'blocks/header',
            'blocks/mobile-overlay',
            'blocks/section',
            'blocks/hero',
            'blocks/service-card',
            'blocks/banner',
            'blocks/puddle-bg',
            'blocks/services';